$white: #FFFFFF;
$red-400: #DB5461;
$red-600: #ff0000;
$blue-100: #F3F6F8;
$blue-400: #4F73FF;
$blue-700: #0F1E57;
$grey-100: #F6F6F6;
$grey-900: #4D4D4D;
$grey-950: #111111;

$primary-color: #e14d67;
//update color
$standard:rgb(11, 12, 27);
$btn_standard: linear-gradient(270deg, #550bd3, #7e26f1 107.4%);
$header_bg_button: #DF843C;
$bg_color: #DF843C;
$font-color: #DF843C;

$primary-font-family: 'Gotham Medium';
$secondary-font-family: 'Gotham Black';
$subtitle-font-family: 'Gotham Book';
$description-font-family: 'Open Sans';

