@import '../scss/bootstrap-config';

.container {
    padding: 30px;
    position: relative;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    text-align: center;
    border-radius: 5 px;


    .img_container {
        img {
            transform: scale(1.05);
            transition: all .3s ease-in-out;
            margin-bottom: 10px;
            height: 100%;
        }
    }

    h3 {
        font-size: 20px;

        span {
            color: $primary;
        }
    }

}