@import '../scss/bootstrap-config';

.container {
    display: block;
    min-height: 1px;
    overflow: auto;
    img{
        border-radius: 7px;
    }
}

.theme {
    &-white {
        background: $white;
        color: $standard;
    }

    &-dark {
        background: $standard;
        color: $white;
    }

    &-grey {
        background: $grey-900;
        color: $white;
    }
}