@import '../scss/bootstrap-config';

.link {
    color: inherit;
    text-decoration: none;
    transition: .2s all linear;

    &:hover {
        color: $primary-color;
        text-decoration: none;
    }

    &-external {
        color: inherit;
    }

    &-underline {
        border-bottom: 3px solid #4D4D4D30;

        &:hover {
            border-bottom-color: $primary-color;
        }
    }

    &-wrapper {
        border: 0;

        &:hover {
            color: $primary-color;
        }
    }
}
