@import "../scss/bootstrap-config";

.root {
    // margin: 0;
    white-space: break-spaces;
}

.display1 {
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 120px;
}

.display2 {
    font-size: 88px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 96px;
}

.display3 {
    color: $white;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
}

.heading1 {
    font-weight: 800;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.03em;

    @include media-breakpoint-up(md) {
        font-size: 48px;
        line-height: 58px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 58px;
        line-height: 60px;
    }
}

.heading2 {
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 0;
    text-transform: uppercase;
    @include media-breakpoint-up(md) {
        font-size: 48px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 28px;
    }
}

.heading3 {
    color: $standard;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 0;

    @include media-breakpoint-up(md) {
        font-size: 30px;
        letter-spacing: 0.5;
        line-height: 40px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 20px;
        letter-spacing: 0;
        line-height: 24px;
    }
}

.heading4 {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.8px;
    line-height: 150%;

    @include media-breakpoint-up(md) {
        font-size: 20px;
        letter-spacing: 0.5px;
    }
}

.heading5 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 24px;

    @include media-breakpoint-up(md) {
        font-size: 16px;
    }
}

.heading6 {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 1.5;
}

.intro {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 22px;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
        font-size: 14px;
        letter-spacing: 0.8px;
    }
}

.body {
    font-weight: 400;
    font-size: 20px;
    color: #555;
    strong {
        font-weight: 500;
    }
}

.small {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 24px;
    opacity: 0.7;
}

.large {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.25px;
    line-height: 24px;
}

.handwritten {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 48px;
}

.blockquote {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;

    @include media-breakpoint-up(md) {
        font-size: 18px;
        letter-spacing: 1px;
    }
}

.paragraph {
    margin-bottom: 16px;
}

.noWrap {
    white-space: nowrap;
}

.headingText {
    color: $font-color;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.01em;
}

.headingTitle {
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 30px;
}

.headingSubTitle {
    // color: $white;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 30px;

}

.iconText {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    // color: #ffffff;
    text-transform: uppercase;
}

.subHeadingTitle {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #121217;
    text-align: center;
}

.subTitle {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #121217
}

.iosHeading {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.03em;
    // color: #FFFFFF;
    mix-blend-mode: normal;
}

.formDescription {
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.cardSubTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #EE8241;
}

.cardTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #4D4D4D;
}

.cardHeadingText {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.03em;
    // color: #4D4D4D;
}

.cardName {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #232233;
}

.headerIntro {

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #F98533;
}

.headerText {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 4px;

    &:hover {
        color: #EE8241;
    }
}