$white: #FFFFFF;
$red-400: #DB5461;
$red-600: #ff0000;
$blue-100: #F3F6F8;
$blue-400: #4F73FF;
$blue-700: #0F1E57;
$grey-100: #F6F6F6;
$grey-900: #4D4D4D;
$grey-950: #111111;

$primary-color: #FC4D33;
//update color
$standard:#333;
$btn_standard: linear-gradient(270deg, #550bd3, #7e26f1 107.4%);
$header_bg_button: #DF843C;
$bg_color: #DF843C;
$font-color: #DF843C;

$primary-font-family: 'Montserrat, Arial, sans-serif';
$secondary-font-family: 'Montserrat, Arial, sans-serif';
$subtitle-font-family: 'Montserrat, Arial, sans-serif';
$description-font-family: 'Montserrat, Arial, sans-serif';

